{% extends "./base.njk" %}

{% block body %}
<header>
<h1>Lighthouse report summary</h1>

<h2>{{ date | replace( "_", "-") | date( "MMM. D, YYYY" ) }}</h2>
</header>

<table class="cfpblh-table">
  <thead>
    <tr>
      <th>Cf.gov Page</th>
      <th>MOBILE REPORT</th>
      <th>DESKTOP REPORT</th>
      <th>REPORTS</th>
    </tr>
  </thead>
  <tbody>
    {% for page, results in summaryReport | dictsort %}
    <tr>
      <td>
        <a href="{{ results.url }}">{{ results.url }}</a>
      </td>
      <td>
        <ul class="m-list m-list__unstyled">
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.mobile.jsonPath }}#performance">
              Performance <strong>{{ ( results.mobile.summary.performance * 100 ) | round }}</strong>
            </a>
            {{ results.mobile.summary.performance | scoreIcon | safe }}
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.mobile.jsonPath }}#accessibility">
              Accessibility <strong>{{ ( results.mobile.summary.accessibility * 100 ) | round }}</strong>
            </a>
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.mobile.jsonPath }}#best-practices">
              Best practices <strong>{{ ( results.mobile.summary["best-practices"] * 100 ) | round }}</strong>
            </a>
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.mobile.jsonPath }}#seo">
              SEO <strong>{{ ( results.mobile.summary.seo * 100 ) | round }}</strong>
            </a>
          </li>
        </ul>

        <div>
          <a target="_blank"
             class="report-link"
             href="reports/{{ results.mobile.jsonPath }}">
            View full mobile report
          </a>
        </div>
      </td>
      <td>
        <ul class="m-list m-list__unstyled">
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.desktop.jsonPath }}#performance">
              Performance <strong>{{ ( results.desktop.summary.performance * 100 ) | round }}</strong>
            </a>
            {{ results.desktop.summary.performance | scoreIcon | safe }}
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.desktop.jsonPath }}#accessibility">
              Accessibility <strong>{{ ( results.desktop.summary.accessibility * 100 ) | round }}</strong>
            </a>
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.desktop.jsonPath }}#best-practices">
              Best practices <strong>{{ ( results.desktop.summary["best-practices"] * 100 ) | round }}</strong>
            </a>
          </li>
          <li class="m-list_item">
            <a class="u-unstyled-link report-link" target="_blank" href="{{ results.desktop.jsonPath }}#seo">
              SEO <strong>{{ ( results.desktop.summary.seo * 100 ) | round }}</strong>
            </a>
          </li>
        </ul>

        <div>
          <a target="_blank"
             class="report-link"
             href="reports/{{ results.desktop.jsonPath }}">
            View full desktop report
          </a>
        </div>
      </td>
      <td>
        <a href="{{ RELATIVE_URL }}/{{ page }}">
          View report history
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
