{% extends "./base.njk" %}

{% block body %}
<h1>Lighthouse report summary</h1>

<h2>{{ summaryReport.timestampString | date( "MMM. D, YYYY" ) }}</h2>

<table>
  <thead>
    <tr>
      <th>Cf.gov Page</th>
      <th>Mobile scores</th>
      <th>Desktop scores</th>
      <th>Reports</th>
    </tr>
  </thead>
  <tbody>
    {% for page in summaryReport.pages %}
    <tr>
      <td>
        <a href="{{ page.url.href }}">{{ page.url.pathname }}</a>
      </td>
      {% set reports = ['mobile', 'desktop'] %}
      {% for report in reports %}
      <td>
        <ul>
          {% for metric, score in page.reports.get( report ).summary -%}
          <li>{{ metric }}: {{ score * 100 }}</li>
          {% endfor %}
        </ul>
      </td>
      {% endfor %}
      <td>
        {% for report in reports %}
        <p>
          <a
            class="report-link"
            href="{{ page.reports.get( report ).jsonPath }}"
          >
            View {{ report }} report
          </a>
        </p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
