{% extends "./base.njk" %}

{% block body %}
<header>

<nav class="u-mb30" aria-label="Breadcrumbs">
    <a href="../">
        <svg class="cf-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 559.6 1200">
            <path d="M494.5 1090.7c-17.3 0-33.8-6.8-46-19L19 642.1c-25.4-25.4-25.4-66.5 0-91.9l429.5-429.5c25.6-25.1 66.8-24.8 91.9.8 24.8 25.3 24.8 65.8 0 91.1L156.9 596.2l383.6 383.6c25.4 25.4 25.4 66.5.1 91.9-12.3 12.2-28.8 19-46.1 19z"></path>
        </svg>
        <span class="a-link_text">Lighthouse report summary</span>
    </a>
</nav>

<h1>Lighthouse report history</h1>

<h2>
  <a class="u-unstyled-link" target="_blank" href="{{ url }}">
    {{ url }}
  </a>
</h2>

</header>

{% set factors = [ 'mobile', 'desktop' ] -%}

{% set categories = [
  [ 'Performance', 'performance' ],
  [ 'Accessibility', 'accessibility' ],
  [ 'Best practices', 'best-practices' ],
  [ 'SEO', 'seo' ]
] -%}

<table class="cfpblh-table">
  <thead>
    <tr>
      <th>DATE</th>
      {% for factor in factors %}
        <th>{{ factor | upper }} REPORT</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for date, results in summaryReport | dictsort | reverse %}
    <tr>
      <td>
        {{ date | replace( "_", "-") | date( "MMM. D, YYYY" ) }}
      </td>
      {% for factor in factors %}
      <td>
        <ul class="m-list m-list__unstyled">
          {% for name, slug in categories %}
          <li class="m-list_item">
            {{ name }} <strong>{{ ( results[ factor ].summary[ slug ] * 100 ) | round }}</strong>
            {{ results[ factor ].summary[ slug ] | scoreIcon | safe }}
          </li>
          {% endfor %}
        </ul>
        <div>
          <a target="_blank"
             class="report-link"
             href="../reports/{{ results[ factor ].jsonPath }}">
            View full {{ factor }} report
          </a>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
