* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(33, 33, 33);
}

.container {
    padding: 0 16px;
}

.lh-topbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 32px;
    background-color: rgb(245, 245, 245);
    padding: 0 8px;
}

.lh-topbar__logo {
    width: 24px;
    height: 24px;
    user-select: none;
    flex: none;
}

.lh-heading {
    font-size: 1em;
    font-weight: normal;
}

svg:not(:root) {
    overflow: hidden;
}