{% extends "./templates/base.njk" %}

{% block body %}
    {% for manifest in manifests | reverse %}
        <p>
            <a href="reports/{{ manifest }}/">{{ manifest }}</a>
        </p>
    {% endfor %}

{% endblock %}