{% extends "./templates/base.njk" %}

{% block body %}
  {% for run in manifest %}
    {% if run.isRepresentativeRun %}
      <p>
        <a href="{{ run.url }}">{{ run.url }}</a>
      </p>
      <p>
        <a href="{{ run.htmlPath.split('/') | last }}">Full report</a>
      </p>
      <ul>
        {% for metric, score in run.summary -%}
          <li>{{ metric }}: {{ score }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

{% endblock %}
